<!-- FORMATION ---------------------------------------->
<section id="formation">
    <div class="container">
        <div class="row">
            <div class="w-100">
                <i class="fa fa-graduation-cap"></i>
                <h1>Mon parcours</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row studyItem">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="dates">
                    <h5>Septembre 2019,<br>
                        Mars 2020</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                <div class="arrowpart"></div>
                <div class="studyBox">
                    <h4>Développeur Web et Mobile</h4>
                    <h5>It-Akademy, Lyon</h5>
                    <p> Titre professionnel de Développeur Web et Mobile de Niveau BAC+2 en cours d'inscription au RNCP</p>
                </div>
            </div>
        </div>
        <div class="row studyItem">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="dates">
                    <h5>Octobre 2013<br>
                        Juin 2014</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                <div class="arrowpart"></div>
                <div class="studyBox">
                    <h4>Secrétaire Assistante</h4>
                    <h5>Acopad à Marseille</h5>
                    <p>Titre professionnel de Secrétaire Assistante de niveau BAC </p>
                </div>
            </div>
        </div>
        <div class="row studyItem">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="dates">
                    <h5>Septembre 2011
                        Juin 2013</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                <div class="arrowpart"></div>
                <div class="studyBox">
                    <h4>BEP Carrières Sanitaire et Sociale</h4>
                    <h5>Lycée Jean Baptiste Brochier, à Lyon</h5>
                    <p>Etude pour prendre soin des enfants ou des personnes agées</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FORMATION END ---------------------------------------->


