<!-- HOME ---------------------------------------->
<section id="slider">
    <div>
        <div>
            <img src="/assets/bureau.jpg" alt="Background laptop">
        </div>
        <div class="background"></div>
        <div class="pres row align-items-center headline">
            <h1>
                <br/>
                <span class="tagline">Je m'appelle Wachani Norhen</span>
                <br/>
                <span class="int tagline">En recherche d'un contrat de professionnalisation Développeur Web </span>
            </h1>
        </div>
    </div>  
</section>
<!-- home ----------------------------------------> 
s
      