<!-- ABOUT ME ---------------------------------------->
<section id="me" class="flex">
    <div class="container">
        <div class="row w-100 align-items-center">
            <div class="col">
                <h1 class="titreBorder">A propos de moi</h1>
                    <p class="center">Je me présente, je m'appelle Wachani Norhen et je suis en reconversion professionnelle pour devenir une Développeuse Full-Stack.</p>
                <h3>Pourquoi?</h3>
                    <p>J'ai toujours aimé travailler sur l'ordinateur mais jusqu'à récemment je ne connaissais pas ce métier alors j'ai travaillé dans le secrétariat pendant 2 ans. Pendant ces années j'ai eu l'occasion de travailler sur des logiciels adaptées au besoin de notre service, étant curieuse j'ai voulu savoir comment les logiciels était fait.</p>
                    <p>Aprés quelque mois de travail en autodidacte, j'ai décidé de mettre en place ma reconversion vers le métier de Développeur Web et Mobile.</p>
                <h3>Résultats</h3>
                    <p>J'ai fait une Formation de Développeur Web et Mobile au centre de formation It-Akademy de Lyon.</p>
                    <p>Apres 9 mois de formation, j'ai décidé de completer mes connaissances dans le domaine du numerique en choisant de me former en contrat de professionnalisation au métier de Développeuse Full-Stack.  </p>
                <br>
                <a target="_blank" href="../assets/CvWn.rar" class="btn btn-cv">TÉLÉCHARGER MON CV</a>
            </div>
            <div class="col">
                <img alt="Photo de Norhen Wachani - Développeuse Junior, Lyon, France" src="../assets/metoo.jpeg" />
            </div>
        </div>
    </div>
</section>
<!-- ABOUT ME end ---------------------------------------->
