<section id="competence">
    <div class="left-float-skill">
        <div class="compLeft animated-element slide-left">
            <h3><i class="fa fa-code"></i>Compétences techniques</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Nodejs</li>
                <li>Angular</li>
                <li>PHP</li>
                <li>Laravel</li>
                <li>MySQL</li>
                <li>Wordpress</li>
                <li>Bootstrap</li>
            </ul>

            <h3><i class="fa fa-globe"></i>Langues</h3>
            <ul>
                <li>Arabe : langue maternelle</li>
                <li>Français : Courant</li>
                <li>Anglais : Scolaire </li>
            </ul>
        </div>
    </div>

    <div class="right-float-skill">
        <div class="compRight animated-element slide-right">
            <h3 class="titreBorder"><i class="fa fa-briefcase"></i>Outils</h3>
            <ul class="styled-list large">
                <li>Systèmes : Git, Gitub, Windows, Linux</li>
                <li>Bureautique : Pack Office</li>
            </ul>
            <h3 class="titreBorder"><i class="fa fa-user-circle"></i>Savoir-être</h3>
            <p>Rigoureuse, adaptable, autonome, à l’écoute et organisé</p>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<!-- COMPETENCE END  ---------------------------------------->
