<!-- EXPERIENCE ---------------------------------------->
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="w-100">
                <i class="fa fa-laptop"></i>
                <h1>Mes expériences professionnelles
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row studyItem">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="dates">
                    <h5>Février 2020 - Mars 2020</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                <div class="arrowpart"></div>
                <div class="studyBox">
                    <h4>Développeuse web junior</h4>
                    <h5>Editions Emya, à Lyon</h5>
                    <p>Stage pratique dans le développement et refonte d'un site web WordPress </p>
                </div>
            </div>
        </div>
        <div class="row studyItem">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="dates">
                    <h5><br>Sept 2017 - Janvier 2019</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                <div class="arrowpart"></div>
                <div class="studyBox">
                    <h4>Agent administratif</h4>
                    <h5>Mairie de Portet sur Garonne</h5>
                    <p>Deux Années dans un service d'aide à la recherche d'emploi.</p>
                </div>
            </div>
        </div>
        <div class="row studyItem">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="dates">
                    <h5>Octobre 2014 - Juin 2015</h5>
                </div>1
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                <div class="arrowpart"></div>
                <div class="studyBox">
                    <h4>Aide à Domicile</h4>
                    <h5>Cyprian Service, à Villeurbanne</h5>
                    <p>Accompagnement dans les gestes du quotidien aupres de personnes agées</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- EXPERIENCE END ---------------------------------------->

